<div class="rules-text">
  <ul>
    <li>
      <span>
        <h4>רק מה ששייך</h4>
        <p>אין לשתף תכנים שאינם קשורים לקבוצה.</p>
      </span>
    </li>
    <li>
      <span>
        <h4>פרסום כפול בקבוצות</h4>
        <p>להשתדל לא לפרסם כפול. לא באותה קבוצה ולא בין קבוצות שונות.</p>
        <p>לפרסם בקבוצה המתאימה ביותר ואם יש ספק אז לפרסם בקבוצה הגדולה.</p>
      </span>
    </li>
    <li>
      <span>
        <h4>שעות פעילות</h4>
        <p>בעוד הקבוצה פעילה 24\7 - יש להשתדל לא לכתוב מאוחר בלילה. רק מקרים דחופים ולצמצם בהודעות.</p>
      </span>
    </li>
    <li>
      <span>
        <h4>שיח מצומצם</h4>
        <p>במיוחד בקבוצות הגדולות, להשתדל לצמצמם בהודעות. אם אפשר לעבור לפרטי - עדיף.</p>
      </span>
    </li>
    <li>
      <span>
        <h4>מכירת בעלי חיים</h4>
        <p>חל איסור מוחלט לפרסם כל הודעה שמטרתה מכירה או סחר בכל סוג של בעל חיים!</p>
      </span>
    </li>
    <li>
      <span>
        <h4>שיח מכבד</h4>
        <p>בבקשה לשמור על שיח רגוע ומכבד. גם אם ישנם דעות שונות.</p>
      </span>
    </li>
  </ul>
</div>
