<div style="text-align:center; margin: 15px 0;">
  <div class="container">
    <div class="col">
      <h1>
        <img width="150" src="assets/logo.jpg" alt="לוגו דימונה אוהבת חיות">
        <span class="d-none d-sm-inline-block">דימונה אוהבת חיות</span>
      </h1>
    </div>

    <div class="col-12" [hidden]="showForm">
      <img width="470" src="assets/WhatsApp_Logo_1.png" alt="WhatsApp Logo" style="max-width: 80%;">
    </div>
    <div class="col-12" [hidden]="showForm">
      <h2>הצטרפות לקבוצת הוואטסאפ של דימונה אוהבת חיות</h2>
    </div>

    <div class="row justify-content-md-center" [hidden]="form_completed">
      <div class="col-12 col-md-6" [hidden]="!showForm">
        <form>
          <div class="form-group">
            <label for="birth_date">תאריך לידה</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar-times-o"></i>
              </div>
              <input [(ngModel)]="birthDate" id="birth_date" name="birth_date" type="date" aria-describedby="birth_dateHelpBlock" required="required" class="form-control here">
            </div>
          </div>
          <div class="form-check">
            <input [(ngModel)]="agreeTerms" type="checkbox" class="form-check-input" id="agree_terms" name="agree_terms">
            <label class="form-check-label" for="agree_terms">אני מאשר/ת את <a href="/#" (click)="showLicense()">תנאי ההשתתפות וחוקי הקבוצה</a></label>
          </div>
        </form>
      </div>
    </div>

    <div class="col-12" [hidden]="!form_completed || !age_is_wrong">
      <h2>אנו מצטערים. אבל ההצטרפות היא מעל גיל {{minAge}} בלבד.</h2>
    </div>

    <div class="col-12" [hidden]="!form_completed || age_is_wrong" style="margin-top: 35px;">
      <h3>תודה רבה! ואנחנו שמחים שאתם מצטרפים אלינו</h3>
      <p style="margin-top: 15px;">לחצו על הכפתור הבא כדי להצטרף לקבוצת הוואטסאפ של דימונה אוהבת חיות</p>
      <div class="form-group" style="margin:35px;">
        <a class="btn btn-success btn-lg" href="https://chat.whatsapp.com/5R2HmjJ34cLF5Ub0FDG664">להצטרפות לקבוצה לחצו כאן!</a>
      </div>
    </div>

    <div class="col-12" [hidden]="form_completed">
      {{license}}
    </div>
    <div class="col-12" style="margin: 35px 0;" [hidden]="form_completed">
      <button type="button" class="btn btn-success btn-lg" (click)="join()" [disabled]="disabled()">אישור</button>
    </div>
  </div>
</div>
